<% content_for :title_button do %>
  <%= link_to 'To Submission', material_submissions_path, class: 'btn btn-info vcenter', style: 'margin-top: 28px' %>
<% end %>

<% content_for :main_title do %>
  Claim Submissions
<% end %>

<!-- %= react_component('HelloMessage', {name: 'John'}, {prerender: true}) % -->

<div class="claiming-display">
  <div class="email-input">
    <%= bootstrap_form_tag(url: find_submissions_by_user_path, remote: true) do |f| %>
    	<%= f.email_field :email, value: 'ckennedy@topdrive.gov' %>
    	<%= f.submit %>
    <% end %>
  </div>

  <div class="submissionsList"></div>

<script type="text/javascript">

</script>

</div>